/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}
.container {
    margin: 30px 150px;
}
.text-gray-100 {
    color: #8987A1;

}
.title-color {
    color: #E95A08;
}
.section-title {
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    margin-bottom: 13px;

}

.section-description {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
}
.primary-btn {
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    width: 100%;
    padding: 20px 50px;
    border: none;
    
}
/* header styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right ul {
    display: flex;
    gap: 48px;
    list-style: none;

}
a.nav-right ul li  {
    text-decoration: none;
}
#home {
    color: #252432;
    font-weight: bold;
}

.banner {
    display: flex;
    align-items:flex-end;
    margin: 90px auto;
    padding-top: 100px;
    margin: 30px 150px;
}


.banner-title {
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    margin-bottom: 13px;

}

/* plants card styles */
.plants-text {
    text-align: center;
    padding: 10px 125px;
    margin: 50px auto;
}
.plants-cards {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 4fr);
}
.plants-card {
    max-width: 270px;
    text-align: center;
    margin-bottom: 30px;
}
.plants-card img {
        width: 100%;
    }
.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px;
   
}
.card-price {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 30px;
}

/* plants lover style */
.plants-lover {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}
.plants-lover-text{
    box-sizing: border-box;
}
.plants-lover-text ul {
        padding-left: 20px;
}
.plants-lover-text ul li {
    padding-top: 20px;
}

/* join section style */
.join {
    box-sizing: border-box;
    text-align: center;
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    padding: 200px 300px;
}
.join h3 {
    color: #FFFFFF;
}
.join form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}
.email {
    width: 550px;
    height: 32px;
    padding: 8px 20px;
}
.subscribe-btn {
    background-color: #E95A08;
    color: #FFFFFF;
    width: 180px;
    font-weight: 600;
    padding: 18px 50px;
    border: none;
    margin-left: -7px;

}
/* latest deals styles */
.deals-text {
    text-align: center;
    padding: 100px 10px;
}
.deals-images {
    box-sizing: border-box;
    display: flex;
    gap: 20px;
   
}
.deals-images-2{
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 20px;
}
.deals-image-bloom, .deals-image-ana, .deals-image-zabo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;  
    color: #FFFFFF;
}

.deals-image-bloom {
    
    background-image: url(./assets/deal-bloom.png), linear-gradient(rgba(0, 0, 0, 0.4));
    background-blend-mode:multiply;
    height: 200px;
    background-position: center;
    background-size: cover;
}
.deals-image-ana {
    background-image: url(./assets/deal-ana.png), linear-gradient(rgba(0, 0, 0, 0.4));
    background-blend-mode:multiply;
    height: 200px;
}
.deals-image-zabo {
    background-image: url(./assets/deal-zabo.png), linear-gradient(rgba(0, 0, 0, 0.4));
    background-blend-mode:multiply;
    width: 66%;
    height: 420px;
}
.deals-image-title-2, .deals-image-title-1 {
    font-family: "Noto Serif", serif;
    font-weight: bold;
}
.deals-image-title-2 {
    font-size: 1.3rem;
}
.deals-image-title-1 {
    font-size: 2.5rem;
}
.deals-shop-1 {
    font-size: 1.8rem;
}
/* footer styles */
footer {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    max-width: 350px;
    margin-bottom: 20px;
}

.footer-icons img {
    margin-left: 20px;
    margin-bottom: 30px;
}
.footer-links ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: space-between;
    gap: 20px;
    list-style: none;

}
.footer-links ul li a {
    text-decoration: none;
}

/* responsive style */

@media screen and (max-width: 576px) {
    .container {
        margin: auto 16px;
    }
    .section-title {
        font-size: 1.5rem;
    }
    .section-description {
        font-size: 0.8rem;
        max-width: 360px;
    }
    .nav-link {
        display: none;
    }
    .banner {
        flex-direction: column-reverse;
        padding-top: 25px;
        margin: 0;
    }
    .banner-title {
        font-size: 1.5rem;
    }
    .banner-left {
         margin: 20px 16px;
    }
    .plants-text {
    padding: 28px;
    margin: 50px auto;
    }
    .plants-cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-content: center;
    gap: 5px;
    }
    .plants-card {
    max-width: 171px;
    }
    .card-title, .card-price {
    font-size: 1rem;
    margin: 5px;
    }

    .primary-btn {
        padding: 15px;
    }

    .plants-lover {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .plants-lover-text, .plants-lover img {
        max-width: 350px;        
    }
    

    .join {
    width: 100%;
    text-align: center;
    padding: 110px 15px 61px;
    }
    .join h3 {
    font-size: 1.2rem;
    }
    .join form {
        margin: 0;
        /* width: 90%; */
        /* align-self: center; */
    }
    .email {
    width: 40%;
    }
    .subscribe-btn {    
    width: 25%;
    padding: 10px 5px;
    }
    footer {
        flex-direction: column;
    }
    .footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 20px auto;

}
    .deals-images{
        flex-direction: column;
    }
    .deals-images-2{
        width: 100%;
    }
    .deals-image-ana {
        border-radius: 0;
    }
    .deals-image-zabo {
        height: 200px;
        width: 100%;  
    }

.deals-image-title-1 {
    font-size: 1.3rem;
}
.deals-shop-1 {
    font-size: 1rem;
}

}